@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-primary: #f5f5f5;
  --bg-primary: #1e1e1e;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
  --orange-hsl: 32, 93%, 54%;
  --red-hsl: 359, 85%, 53%;
  --sky-hsl: 197, 81%, 58%;
  --yellow-hsl: 53, 91%, 50%;
  --blue-hsl: 225, 46%, 45%;
  --pink-hsl: 330, 85%, 56%;
  --light-pink-hsl: 332, 73%, 84%;
  --purple-hsl: 287, 34%, 46%;
  --white-hsl: 180, 1%, 85%;
  --green-hsl: 143, 71%, 31%;
}

body {
  color: var(--fg-primary);
  background: var(--bg-primary);
  --accent-hsl: var(--blue-hsl);
  --accent: hsl(var(--accent-hsl));
  --accent25: hsl(var(--accent-hsl), 25%);
  --accent50: hsl(var(--accent-hsl), 50%);
  --accent75: hsl(var(--accent-hsl), 75%);
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.calendar-wrapper {
  background-image: url('/desktop.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.gloss {
  background-image: url('/gloss.png');
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.day-bg {
  background-image: url('/bg.png');
  background-size: 107% 100%;
  background-position: center;
  background-repeat: no-repeat;
}