@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-primary: #f5f5f5;
  --bg-primary: #1e1e1e;
  --grey-100: #e4e9f0;
  --grey-200: #cfd7e3;
  --grey-300: #b5c0cd;
  --grey-800: #3e4e63;
  --grid-gap: 1px;
  --day-label-size: 20px;
  --orange: hsl(32, 93%, 54%);
  --orange25: #f7911d40;
  --red: hsl(359, 85%, 53%);
  --red25: #ed212540;
  --sky: hsl(197, 81%, 58%);
  --sky25: #3db9eb40;
  --yellow: hsl(53, 91%, 50%);
  --yellow25: #f4d80b40;
  --blue: hsl(225, 46%, 45%);
  --blue25: #3e58a840;
  --pink: hsl(330, 85%, 56%);
  --pink25: #ee2f8f40;
  --light-pink: hsl(332, 73%, 84%);
  --light-pink25: #f4b8d440;
  --purple: hsl(287, 34%, 46%);
  --purple25: #8c4d9d40;
  --white: hsl(180, 1%, 85%);
  --white25: #d8d9d940;
  --green: hsl(143, 71%, 31%);
  --green25: rgba(23, 135, 66, 0.25);
}

body {
  color: var(--fg-primary);
  background: var(--bg-primary);
  scrollbar-width: thin;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:focus-within {
  outline: none;
}

.react-datepicker__calendar-icon {
  top: 1px;
  left: -6px;
  fill: white;
}



.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-primary) transparent;
}

.hover-bg {
  background-color: black
}

.hover-bg:hover {
  background-color: var(--current);
}

.calendar-wrapper {
  background-image: url('/desktop.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  @media(max-width:1221px) {
    background-image: url('/tablet.png');
  }

  @media (max-width:780px) {
    background-image: url('/mobile.png');
  }
}

.gloss {
  background-image: url('/gloss.png');
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;
}

.day-bg {
  background-image: url('/bg.png');
  background-size: 107% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.detail-bg {
  background-image: url('/bg-lg.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}